@import '../../../assets/css/colors'

.leftRs, .rightRs
    visibility: hidden;

.item
    width: 100% !important;
    height: 46vh;
    padding-top: 8%;

.Molly-OKeefe, .American-Author
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

.Molly-OKeefe, .American-Author
    font-size: 2vw;
    color: $black;

.Molly-OKeefe 
    margin-top: 13%;
    font-weight: 300;
    line-height: 1.5;

.American-Author
    font-weight: 300;
    line-height: 1.5;
    color: $warm-grey;

@media screen and (min-width: 1200px)

    .Molly-OKeefe, .American-Author
        font-size: 24px; 

@media screen and (max-width: 575px)
    .Molly-OKeefe, .American-Author
        font-size: 3.8vw;