<ngu-carousel [inputs]="carouselOne">
  <ngu-item NguCarouselItem>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label class="title">Our customers love us</label>
          <label class="Its-funny-what-memo">It's funny what memory does, isn't it? My favorite holiday tradition might not have happened more than once or
            twice. But because it is such a good memory, so encapsulating of everything I love about the holidays, in my
            mind it happened every year. Without fail. </label>
        </div>
        <div class="col-sm-6 div-content-centered">
          <label class="Molly-OKeefe">Molly O’Keefe</label>
          <br>
          <label class="American-Author">American Author</label>
        </div>
      </div>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label class="title">Our customers love us</label>
          <label class="Its-funny-what-memo">It's funny what memory does, isn't it? My favorite holiday tradition might not have happened more than once or
            twice. But because it is such a good memory, so encapsulating of everything I love about the holidays, in my
            mind it happened every year. Without fail. </label>
        </div>
        <div class="col-sm-6 div-content-centered">
          <label class="Molly-OKeefe">Molly O’Keefe</label>
          <br>
          <label class="American-Author">American Author</label>
        </div>
      </div>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label class="title">Our customers love us</label>
          <label class="Its-funny-what-memo">It's funny what memory does, isn't it? My favorite holiday tradition might not have happened more than once or
            twice. But because it is such a good memory, so encapsulating of everything I love about the holidays, in my
            mind it happened every year. Without fail. </label>
        </div>
        <div class="col-sm-6 div-content-centered">
          <label class="Molly-OKeefe">Molly O’Keefe</label>
          <br>
          <label class="American-Author">American Author</label>
        </div>
      </div>
    </div>
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
