<div class="container-fluid Rectangle-11">
  <div class="container div-content-centered">
    <div class="row">
      <div class="col">
        <label for="" class="Ready-to-get-started">Ready to get started with Bellotero.<span class="text-style-1">io</span>?</label>
      </div>
      <div class="col">
        <label class="title">
          No more manual data entry.<br>
          Hands off. Thumbs up.
        </label>      
        <input class="special-input" type="text" value="" placeholder="Your email address"/>
        <button class="special-button">
          <label>Request a demo</label>
        </button>  
      </div>
    </div>
  </div>
</div>