@import '../../../assets/css/colors'

.Ready-to-get-started
    font-size: 4.1vw;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -1px;
    color: $white-four;
    margin-top: 25%;
    margin-bottom: 25%;

    .text-style-1
        color: $white-four-50;