<nav class="navbar navbar-light bg">
  <img class="bellotero-logo" src="assets/img/bellotero-logo.png">
  <a href="" class="menu-item">Features</a>
  <a href="" class="menu-item">Solutions</a>
  <a href="" class="menu-item">Stories</a>
  <a href="" class="menu-item">Partners</a>
  <a href="" class="menu-item">About</a>
  <a href="" class="menu-item">Blog</a>
  <button>
    <label>Request a demo</label>
  </button>
  <div class="Rectangle-2">
    <label class="Log-In">Log In</label>
  </div>
</nav>