<div class="container-fluid">
  <div class="row">
    <div class="container div-content-centered">
      <div class="row">
        <div class="col-sm-6 p-t-8">
          <label class="title">See how much you can
            <br> save with Bellotero.io</label>
          <label class="Its-funny-what-memo">With Bellotero.io you save time and money make real-time decisions that boost your business and your bottom line.
            Get less wrongfully blocked payments, save time on bookkeeping and no need to worry about safety. </label>
        </div>
        <div class="col-sm-6 div-content-centered"></div>
        <div class="col-lg-12">
          <div class="col-sm-6 p-0">
            <div>
              <label class="small-title">Monthly ingredient spending</label>
              <div class="Rectangle">
                <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
