@import '../../../assets/css/colors'

.mat-slider
    position: absolute !important;
    bottom: -23px !important;
    left: -8px;
    padding: 0 !important;

.mat-slider-horizontal
    width: 103% !important;

.mat-accent .mat-slider-thumb
    background-color: $green;