<div class="container-fluid Bitmap">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="Digitize-your-invoic">
        <label class="text-style-1">
            <strong>Digitize your invoices</strong> and create your own shopping cart.
        </label>
        <input class="special-input" type="text" value="" placeholder="Your email address"/>
        <button class="special-button">
          <label>Request a demo</label>
        </button>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="hero-mockup">
          <img src="assets/img/hero-mockup.png" srcset="assets/img/hero-mockup@2x.png 2x, assets/img/hero-mockup@3x.png 3x">
        </div>
    </div>
  </div>
</div>