$primary: #35374c;
$secondaryButton: #00b896;
$secondaryInput: #1d1f35;
$teal: #009e81;
$white-four-50: rgba(255, 255, 255, 0.5);
$white-four-30: rgba(255, 255, 255, 0.3);
$white-four-60: rgba(255, 255, 255, 0.6);
$white-four: #ffffff;
$pale-grey-two: #fafafc;
$white-two: #e5e5e5;
$black-two: #404040;
$pale-grey-two: #fafafc;
$black: #000000;
$black-three: #000019;
$warm-grey: #7f7f7f;
$border-gray: #bfbfbf;
$green: #00b896;
$green-50: rgba(0, 184, 150, 0.5);
$green-39: rgba(0, 93, 76, 0.39);
$blue-green: #005d4b;