@import "~@angular/material/prebuilt-themes/purple-green.css"
@import './colors'

@mixin placeholder
  &::-webkit-input-placeholder 
      @content
  &:-moz-placeholder           
      @content
  &::-moz-placeholder          
      @content
  &:-ms-input-placeholder      
      @content  
    
.Bitmap 
    background-color: $primary;
    padding-top: 10%;
    padding-bottom: 10%;

.special-button
    width: 120px;
    height: 42px;
    border-radius: 2px;
    background-color: $secondaryButton;
    border: solid 1px $teal;
    font-size: 13px !important;
    text-align: center;
    display: inline-block;

    label
        margin-bottom: 0;
        color: $white-four !important;

    label:hover
        cursor: pointer;
        color: $white-four-50 !important;

.special-input
    width: 62%;
    height: 42px;
    border-radius: 2px;
    background-color: $secondaryInput;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $white-four-30;
    border: none; 
    display: inline-block;
    min-width: 121px;
    padding-left: 3%;

    @include placeholder
        color: $white-four-30;
        padding-left: 3%;

.Rectangle-4 
    height: 100px;
    background-color: $pale-grey-two;
    box-shadow: inset 0 1px 0 0 $white-two, inset 0 -1px 0 0 $white-two;

.w100-m0, .Rectangle-4 , .Rectangle-6
    width: 100%;
    margin: 0 !important;

.full-img
    width: 100%;
    margin: auto;

.div-content-centered
    margin: auto;

.p-0
    padding: 0 !important;

.m-a
    margin: auto;

.p-t-8 
    padding-top: 8%;

.title, .slide-title, .layer,.small-title, .Its-funny-what-memo, .Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak, .Threads-keep-all-you, .Learn-more, .Ready-to-get-started
    color: $black-two;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

.layer-title
    font-size: 5vw;

    span
        font-size: 3.1vw;
        padding-right: 1%;
        font-weight: 100;


.title, .slide-title, .layer, .Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak
    font-size: 2.3vw;

    
.Its-funny-what-memo, .Threads-keep-all-you, .Learn-more, .small-title
    font-size: 1.6vw;
    
.title
    font-weight: 500;
    line-height: 1.5;
    text-align: left;

.Its-funny-what-memo
    margin-top: 5%;
    font-weight: 300;
    line-height: 1.75;

.Rectangle
    width: 100%;
    height: 8vh;
    min-height: 54px;
    border-radius: 2px;
    background-color: $white-four;
    border: solid 1px $border-gray;

.Rectangle-11
    background-color: $green;
    box-shadow: inset 0 1px 0 0 #1874c0;

.small-title
    padding-top: 8%;
    width: 100%;
    font-weight: 500;
    line-height: 1.75;
    color: $black-three;
    font-weight: bold;


@media screen and (min-width: 1200px)

    .title, .slide-title, .layer, .Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak
        font-size: 31px;

    .Its-funny-what-memo, .Threads-keep-all-you, .Learn-more, .small-title
        font-size: 19px;

@media screen and (max-width: 575px)

    .Rectangle
        height: 5vh;
        min-height: 37px;

    .title, .slide-title, .layer, .Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak
        font-size: 4vw;

    .Its-funny-what-memo, .Threads-keep-all-you, .Learn-more, .small-title
        font-size: 2.8vw;
