<div class="container-fluid Bitmap">
  <div class="row">
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-1.png" srcset="assets/img/photo-1@2x.png 2x, assets/img/photo-1@3x.png 3x">
    </div>
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-2.png" srcset="assets/img/photo-2@2x.png 2x, assets/img/photo-2@3x.png 3x">
    </div>
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-3.png" srcset="assets/img/photo-3@2x.png 2x, assets/img/photo-3@3x.png 3x">
    </div>
  </div>
</div>