<div id="stories" class="container-fluid Bitmap">
  <div class="row w100-m0">
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-1.png" srcset="assets/img/photo-1@2x.png 2x, assets/img/photo-1@3x.png 3x">
      <div class="layer">
        <label>50<span>%</span></label><br>
        <label class="Saved-in-bookkeeping">
          SAVED IN<br>
          BOOKKEEPING COSTS
        </label>
      </div>
    </div>
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-2.png" srcset="assets/img/photo-2@2x.png 2x, assets/img/photo-2@3x.png 3x">
      <div class="layer">
          <label>100<span>h</span></label><br>
          <label class="Saved-in-bookkeeping">
            AND MORE SAVE IN<br>
            BOOKKEEPING TIME
          </label>
        </div>
    </div>
    <div class="col p-0">
      <img class="full-img" src="assets/img/photo-3.png" srcset="assets/img/photo-3@2x.png 2x, assets/img/photo-3@3x.png 3x">
      <div class="layer">
          <label>25<span>%</span></label><br>
          <label class="Saved-in-bookkeeping">
            DECREASE IN<br>
            FOOD COSTS
          </label>
        </div>
    </div>
  </div>
  <div class="row Rectangle-6">
    <carousel></carousel>
  </div>
</div>