<div class="container-fluid Bitmap">
  <div class="row Rectangle-4">
    <div class="container div-content-centered">
      <div class="row">
        <div class="col">
          <img class="full-img" src="assets/img/logo-1.png" srcset="assets/img/logo-1@2x.png 2x, assets/img/logo-1@3x.png 3x">
        </div>
        <div class="col">
          <img class="full-img" src="assets/img/logo-2.png" srcset="assets/img/logo-2@2x.png 2x, assets/img/logo-2@3x.png 3x">
        </div>
        <div class="col">
          <img class="full-img" src="assets/img/logo-3.png" srcset="assets/img/logo-3@2x.png 2x, assets/img/logo-2@3x.png 3x">
        </div>
        <div class="col">
          <img class="full-img" src="assets/img/logo-4.png" srcset="assets/img/logo-4@2x.png 2x, assets/img/logo-2@3x.png 3x">
        </div>
        <div class="col">
          <img class="full-img" src="assets/img/logo-5.png" srcset="assets/img/logo-5@2x.png 2x, assets/img/logo-2@3x.png 3x">
        </div>
        <div class="col">
          <img class="full-img" src="assets/img/logo-6.png" srcset="assets/img/logo-6@2x.png 2x, assets/img/logo-2@3x.png 3x">
        </div>
      </div>
    </div>
  </div>
</div>