@import '../../../assets/css/colors'

.Bitmap 
    background-color: $white-four;
    margin-bottom: 10%;

img 
    vertical-align: middle;

.Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak
    font-size: 2.3vw; 

.Belloteroio-is-the, .Get-the-full-picture, .Threads-keep-all-you, .Learn-more, .Timesaving-moneymak
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

.Belloteroio-is-the 
    font-weight: 500;
    color: $black-two;
    line-height: 1.5;

.Get-the-full-picture 
    font-weight: 300;
    color: $black-two;
    margin-top: 25%;
    line-height: 1.5;

.Threads-keep-all-you, .Learn-more
    font-size: 1.6vw;

.Threads-keep-all-you 
    font-weight: 300;
    line-height: 1.75;
    color: $black-two;
    margin-top: 5%;

.Learn-more
    font-weight: 500;
    line-height: 1.75;
    color: $secondaryButton;
    padding-right: 2%;

.intro-img-2
    margin-top: 10%;

.arrow-right, .intro-img-1, .intro-img-2
    object-fit: contain;

.Belloteroio-is-the, .intro-img-1
    margin-top: 20%;

.Timesaving-moneymak 
    font-weight: 300;
    line-height: 1.5;
    color: $black-two;
    margin-top: 35%;

@media screen and (min-width: 1200px)

    .Belloteroio-is-the, .Get-the-full-picture, .Timesaving-moneymak
        font-size: 24px; 
    
    .Threads-keep-all-you, .Learn-more
        font-size: 16px;

@media screen and (max-width: 500px)
    .Timesaving-moneymak 
        margin-top: 0;
    
