@import '../../../assets/css/colors'

.Bitmap 
    background-color: $white-four;
    margin-bottom: 10%;

img 
    vertical-align: middle;

.Belloteroio-is-the 
    font-weight: 500;
    color: $black-two;
    line-height: 1.5;

.Get-the-full-picture 
    font-weight: 300;
    color: $black-two;
    margin-top: 25%;
    line-height: 1.5;

.Threads-keep-all-you 
    font-weight: 300;
    line-height: 1.75;
    color: $black-two;
    margin-top: 5%;

.Learn-more
    font-weight: 500;
    line-height: 1.75;
    color: $secondaryButton;
    padding-right: 2%;

.intro-img-2
    margin-top: 10%;

.arrow-right, .intro-img-1, .intro-img-2
    object-fit: contain;

.Belloteroio-is-the, .intro-img-1
    margin-top: 20%;

.Timesaving-moneymak 
    font-weight: 300;
    line-height: 1.5;
    color: $black-two;
    margin-top: 35%;

@media screen and (max-width: 500px)
    .Timesaving-moneymak 
        margin-top: 0;

    
