<div id="blog" class="container-fluid Bitmap">
  <div class="container div-content-centered">
    <div class="row">
      <div class="col">
        <img class="full-img bellotero-logo-white" src="assets/img/bellotero-logo-white.png" srcset="assets/img/bellotero-logo-white@2x.png 2x, assets/img/bellotero-logo-white@3x.png 3x">
      </div>
      <div class="col">
        <label class="small-title">Bellotero.io</label>
        <ul class="">
          <li class=""><a href="#features">Features</a></li>
          <li class=""><a href="#solutions">Solutions</a></li>
          <li class=""><a href="#stories">Stories</a></li>
          <li class=""><a href="#about">About</a></li>
          <li class=""><a href="#blog">Blog</a></li>
        </ul>
      </div>
      <div class="col">
        <label class="small-title">Social</label>
        <ul class="">
          <li class=""><a href="https://www.facebook.com/yair.osvaldo">Facebook</a></li>
          <li class=""><a href="https://twitter.com/CosioYair">Twitter</a></li>
          <li class=""><a href="https://www.linkedin.com/in/yair-osvaldo-cosio-escoto-786704142/">LinkedIn</a></li>
          <li class=""><a href="https://www.instagram.com/osvaldoyair/">Instagram</a></li>
        </ul>
      </div>
      <div class="col">
        <label class="small-title">Support</label>
        <ul class="">
          <li class=""><a href="">support@bellotero.com</a></li>
          <li class=""><a href="">(555) 555-5555</a></li>
          <li class=""><a href="">Chat now</a></li>
          <li class="">
            <a href="https://www.apple.com/mx/ios/app-store/">
              <img class="full-img blog-img" src="assets/img/app-store.png" srcset="assets/img/app-store@2x.png 2x, assets/img/app-store@3x.png 3x">
            </a>
          </li>
          <li class="">
            <a href="https://play.google.com/store?utm_source=latam_Med&utm_medium=hasem&utm_content=Jan2017&utm_campaign=Evergreen&pcampaignid=MKT-DR-latam-mx-1002290-Med-hasem-ap-Evergreen-Jan2017-Text_Search_BKWS&gclid=Cj0KCQjwtb_bBRCFARIsAO5fVvGizsn9vFbhfGwZhV6odZgRwp95iPy1LECBzO7ExuXNTdH3pqucvuAaAtwyEALw_wcB">
              <img class="full-img blog-img" src="assets/img/google-play.png" srcset="assets/img/google-play@2x.png 2x, assets/img/google-play@3x.png 3x">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>