<div class="container-fluid Bitmap">
  <div class="container div-content-centered">
    <div class="row">
      <div class="col">
        <img class="full-img bellotero-logo-white" src="assets/img/bellotero-logo-white.png" srcset="assets/img/bellotero-logo-white@2x.png 2x, assets/img/bellotero-logo-white@3x.png 3x">
      </div>
      <div class="col">
        <label class="small-title">Bellotero.io</label>
        <ul class="">
          <li class=""><a href="">Features</a></li>
          <li class=""><a href="">Solutions</a></li>
          <li class=""><a href="">Stories</a></li>
          <li class=""><a href="">About</a></li>
          <li class=""><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="col">
        <label class="small-title">Social</label>
        <ul class="">
          <li class=""><a href="">Facebook</a></li>
          <li class=""><a href="">Twitter</a></li>
          <li class=""><a href="">LinkedIn</a></li>
          <li class=""><a href="">Instagram</a></li>
        </ul>
      </div>
      <div class="col">
        <label class="small-title">Support</label>
        <ul class="">
          <li class=""><a href="">support@bellotero.com</a></li>
          <li class=""><a href="">(555) 555-5555</a></li>
          <li class=""><a href="">Chat now</a></li>
          <li class="">
            <a href="">
              <img class="full-img blog-img" src="assets/img/app-store.png" srcset="assets/img/app-store@2x.png 2x, assets/img/app-store@3x.png 3x">
            </a>
          </li>
          <li class="">
            <a href="">
              <img class="full-img blog-img" src="assets/img/google-play.png" srcset="assets/img/google-play@2x.png 2x, assets/img/google-play@3x.png 3x">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>